{{#with user}}
  <img class="user-avatar" src="{{avatar}}" />
  <h1>Hello, {{name}}</h1>
  <div class="about">
    <h4>About me</h4>
    <p>Name: {{name}}</p>
    <p>Email: {{email}}</p>
    <p>Level: {{level}}</p>
  </div>
{{/with}}

<div class="favorite">
  <h4>Favorite Videos</h4>
  <button><a href="/favorites">Videos</a></button>
</div>