<form action="/videos/{{foundVideo._id}}/edit" method="POST">
<label for="title">Title</label>
<input type="text" name="title" value="{{foundVideo.title}}">
<label>Level
    <select name="level" id="level" value="{{foundVideo.level}}">
      <option value="Beginner">Beginner</option>
      <option value="Intermediate">Intermediate</option>
      <option value="Advanced">Advanced</option>
    </select>
  </label>
  <label>
    Duration
    <select name="duration" id="duration">
      <option value="Short (0-1.5 mins)">Short (0-1.5 minutes)</option>
      <option value="Medium (1.5-3 mins)">Medium (1.5-3 mins)</option>
      <option value="Long (3-10 mins)">Long (3-10 mins)</option>
      <option value="Very Long (10+ mins)">Very Long (10+ mins)</option>
    </select>
  </label>
  <label>Description
    <textarea
      name="Description"
      id="Description"
      cols="30"
      rows="10"
    >
    {{foundVideo.description}}
    </textarea>
  </label>

  <button type="submit">Update Video Information</button>
</form>
<video controls>
        <source src="{{foundVideo.videoUrl}}" type="video/mp4" alt="video" style="width: 15%">
        Your browser does not support the video tag.
</video>