<h1>favorites</h1>

<div class="all-cards">
    {{#each favorites}}
    <div class="video-card">
        <video controls>
            <source src="{{videoUrl}}" type="video/mp4" alt="video">
            Your browser does not support the video tag.
        </video>
        <div>
            <h5>{{title}}</h5>
            <h6 class="video-level">{{level}}</h6>
            <p class="video-description"><i>{{description}}</i></p>
        </div>
        <div class="video-actions">
            <form action="/videos/{{_id}}/edit" method="get">
                <button type="submit"><img src="/images/Pencil_edit_icon-removebg-preview.png" alt="edit button" class="edit-button"></button>
            </form>

            <form action="/videos/{{id}}/delete" method="post">
                <button type="submit"><img src="/images/delete-garbage-remove-trash-trash-can-icon-695072-removebg-preview.png" alt="delete button" class="delete-button"></button>
            </form>

            
            {{#if @root.user}}
            <form action="/favorites/{{id}}" method="post">
            {{#ifIncludes @root.user.favorites id}}
                <button type="submit" class="btn btn-danger">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-heart" viewBox="0 0 16 16">
                        <path d="m8 2.748-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01L8 2.748zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143c.06.055.119.112.176.171a3.12 3.12 0 0 1 .176-.17C12.72-3.042 23.333 4.867 8 15z"></path>
                    </svg>
                </button>
            {{else}}
                <button type="submit" class="btn btn-outline-danger">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-heart" viewBox="0 0 16 16">
                        <path d="m8 2.748-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01L8 2.748zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143c.06.055.119.112.176.171a3.12 3.12 0 0 1 .176-.17C12.72-3.042 23.333 4.867 8 15z"></path>
                    </svg>
                </button>


            {{/ifIncludes}}
            </form>
            {{/if}}

        </div>
    </div>
    {{/each}}
</div>