<h1>favorites</h1>

{{#each favorites}}
<div>
    <video controls>
        <source src="{{videoUrl}}" type="video/mp4" alt="video" style="width: 15%">
        Your browser does not support the video tag.
    </video>
    <div>
        <h5>{{title}}</h5>
        <p>{{level}}</p>
    </div>
    <form action="/videos/{{_id}}/edit" method="get">
        <button type="submit">Edit Video</button>
    </form>
    <form action="/videos/{{id}}/delete" method="post">
        <button type="submit">Delete Video</button>
    </form>
    <form action="/favorites/{{id}}" method="post">
        <button type="submit">Add To Favorites</button>
    </form>
</div>
{{/each}}