<h1>All Videos</h1>

{{#each video}}
    <p>{{title}}</p>
    <p>{{level}}</p>
    <p>{{description}}</p>
    <p>{{duration}}</p>
    <p>{{video}}</p>
    <form action="/favorites/{{_id}}" method="post">
        <button type="submit">Add To Favorites</button>
    </form>
    <hr>
{{/each}}